
* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #eef2f5;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    margin: 25px 0;
    color: #f8f9fb;
    background-color: chartreuse;
}

.form {
    width: 60%;
    margin: 15px auto;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
}

.form input,
.form textarea,
.form select {
    width: 95%;
    padding: 10px;
    margin: 8px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 14px;
}

.form textarea {
    resize: none;
    height: 70px;
}

.form button {
    padding: 10px 25px;
    background-color: #2980b9;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 15px;
}

.form button:hover {
    background-color: #1f6391;
}

table {
    width: 85%;
    margin: 30px auto;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: center;
}

th {
    background-color: hsl(210, 98%, 53%);
    color: white;
    text-transform: uppercase;
    font-size: 13px;
}

tr:nth-child(even) {
    background-color: #f9f9f9;
}

.retard {
    background-color: #ffcccc !important;
}

/* ===== LIENS ===== */
a {
    color: #2980b9;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

.stats {
    width: 60%;
    margin: 20px auto 40px;
    background-color: #ffffff;
    padding: 15px;
    border-radius: 8px;
    box-shadow: #2a90f7;;
}

.stats p {
    margin: 6px 0;
    font-size: 16px;
    color: #2a90f7;
}

